.color_of_text {
    color: #080808;
    background: #737373;
}
.color_of_t {
    color: #080808;
}
.food {
    font-size: 25px;
    color: #080808;
    padding: 5px;
}
.margiiiin {
    font-size: 25px;
}
* {
    font-family: cursive;
}
#beef, #chicken, #sushi {
    margin: 10px;
}
.ooop {
   padding: 2em;
}

.iop {
    font-size: 40px;
    padding: 15px;
    margin-bottom: -10px;
}
a {
    color: #06338f;
}